body {
  font:
    1rem "Lucida Grande", "Arial", sans-serif;
}

button {
  display: block;
  margin-block: 1rem;
  display: inline-block;
}

#startcapture {
  position: relative;
  margin: auto;
  bottom: 32px;
  background-color: rgb(0 150 0 / 50%);
  border: 1px solid rgb(255 255 255 / 70%);
  box-shadow: 0px 0px 1px 2px rgb(0 0 0 / 20%);
  font-size: 14px;
  color: white;
}

#video {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width: 100%;
  height: auto;
}

#canvas1 {
  display: none;
}

#photo {
  position: absolute;
  display: block;
}

.camera,
.sldrBox {
  display: inline-block;
  width: 320px;
  vertical-align: top;
  text-align: center;
}

.camera {
  height: auto;
}

.sldrBox {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
}

.regBox {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.hdr-div {
  width: 320px;
  display: inline-block;
  text-align: center;
}

@media (min-width: 664px) {
  .hdr-div {
     width: 642px;
  }
}

@media (min-width: 991px) {
  .hdr-div {
     width: 964px;
  }
}

@media (min-width: 1313px) {
  .hdr-div {
     width: 1286px;
  }
}
